<% content_for :title, "Editing Task" %>

<h1 style="text-align: center; margin-bottom: 20px;">Edit Task</h1>

<div style="width: 50%; margin: 0 auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9;">
  <%= form_with(model: @task, local: true) do |f| %>

    <div class="form-group" style="display: flex; align-items: center; margin-bottom: 20px;">
      <div style="flex: 0 0 100px; font-weight: bold; margin-right: 10px;">
        <%= f.label :name, "Task Name", style: "font-family: 'Poppins', sans-serif;" %>
      </div>
      <div style="flex: 1;">
        <%= f.text_field :name, style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
      </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; margin-bottom: 20px;">
      <div style="flex: 0 0 100px; font-weight: bold; margin-right: 10px;">
        <%= f.label :category_id, "Category", style: "font-family: 'Poppins', sans-serif;" %>
      </div>
      <div style="flex: 1;">
        <%= f.collection_select :category_id, @categories, :id, :name, prompt: "Select a category", style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
      </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; margin-bottom: 20px;">
      <div style="flex: 0 0 100px; font-weight: bold; margin-right: 10px;">
        <%= f.label :is_completed, "Completed", style: "font-family: 'Poppins', sans-serif; display: inline;" %>
      </div>
      <div style="flex: 1; display: flex; align-items: center;">
        <%= f.check_box :is_completed, style: "margin-top: 0;" %>
      </div>
    </div>

    <div class="form-group" style="display: flex; align-items: center; margin-bottom: 20px;">
      <div style="flex: 0 0 100px; font-weight: bold; margin-right: 10px;">
        <%= f.label :status, "Status" %>
      </div>
      <div style="flex: 1;">
        <%= f.select :status, Task.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "form-control", style: "padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%;" %>
      </div>
    </div>



    <div class="form-group" style="text-align: center;">
      <%= f.submit "Save Task", style: "background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-family: 'Poppins', sans-serif;" %>
    </div>

  <% end %>

  <div style="text-align: center; margin-top: 20px;">
    <%= link_to "Back", tasks_path, style: "padding: 10px 20px; background-color: #008CBA; color: white; text-decoration: none; border-radius: 4px;" %>
  </div>
</div>